img {
  border-radius:100000000000px;
  height: 150px
}
#name {color: #ff0000; display: inline-block; position: relative; margin: 25px; bottom: 50px }
#header {
  background: url("ha.jpg");
  padding: 10px; text-align: center;}
#button {display: inline-block; position: fixed; bottom: 50px; left: 10px; background-color: #ff0000; width: 80px; height: 30px; padding: 12px 0px 0px 12px; }
#button a {color: black; text-decoration: none;}
#button:hover {background-color: blue; text-decoration: underline;}
#background {border-radius:50px;
  width:50px;}
.click:hover {height: 200px; }
.click:{  height: 120px; display: inline-block; margin-top: 50px; }
.clicko:hover{color: purple; text-decoration: underline;}
.clicko {color: black; text-decoration: none; text-align: center;}
#two {background-color:#eb556c; display: inline-block; position: absolute; right: 10px; top: 210px; height: 700px; width: 750px;}

#four {background-color: #fd6b00;  display: inline-block; position: relative; left: 600px;}
#one {height: 950px; background-color: #eb556c; width: 300px; text-align: center; padding: 10px;}
#three {height: 971px; width: 300px; display: inline-block; position: absolute; left: 320px; top: 210px; background-color: #034545;}
