img {
  border-radius:100000000000px;
  height: 150px
}
#name {color: #ff0000; display: inline-block; position: relative; margin: 25px; bottom: 50px }
#header {
  background: url("ha.jpg");
  padding: 10px;
    position: relative;
}
#button {display: inline-block; position: absolute;  background-color: #ffffff; width: 80px; height: 30px; padding: 12px 0px 0px 12px; }
#button:hover {background-color: #ff0000; text-decoration: underline;}
#background {border-radius:50px;
  width:50px;}
